<template>
  <h2>{{ address.title }} / {{ label }}</h2>
  <address>
    Road: {{ address.road }}
    Zip code: {{ address.zipCode }}
    City: {{ address.city }}
    <section v-if="address.complement">Complement: {{ address.complement }}</section>
    <footer v-if="address.country">Country: {{ address.country }}</footer>
    <div v-if="address.state">State: {{ address.state }}</div>
  </address>
  <button @click="$emit('editAddress')">
    {{ $t('components.Address.buttons.edit') }} {{ label }}
  </button>
  <button @click="$emit('searchAddress')">
    {{ $t('components.Address.buttons.search') }}  {{ label }}
  </button>
</template>

<script>
export default {
  // props: ['address', 'label']
  emits: ['editAddress', 'searchAddress'],
  props: {
    address: {
      type: Object,
      default: () => ({})
      // validator (value) {
      //   const dict = ['road', 'zipCode', 'state']
      //   let allPropertiesDefined = true
      //   dict.forEach(currentProperty => {
      //     if (!value[currentProperty]) {
      //       allPropertiesDefined = false
      //     }
      //   })
      //   return allPropertiesDefined
      // }
    },
    label: String
  }
}
</script>
<style scoped>
  h2, address, button {
    background-color: green;
  }
</style>
